<!-- //Sub header -->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>حدول المباريات </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li><a href="index-2.html">الرئيسية</a></li>
                    <li> جدول المباريات </li>
                </ul>

            </div>
            <!-- //search + filter -->
            <section class="search-form col-md-12">
                <form action="" method="GET" name="search" role="search">
                    <p class="inp-wrap search-wrap">
                        <input type="search" name="search-term" id="search-field" class="grid-75" placeholder="بحث" /></p>
                    <p class="inp-wrap cat-wrap">
                        <select name="search categories" id="categories" class="grid-80">
                                    <option value="1" selected>قطاع</option>
                                    <option value="2">اسم قطاع-1</option>
                                    <option value="3">اسم قطاع-1</option>
                                    <option value="4">اسم قطاع-1</option>
                                    <option value="5">اسم قطاع-1</option>
                                    <option value="6">اسم قطاع-1</option>
                                    <option value="7">اسم قطاع-1</option>
                                </select>
                    </p>
                    <p class="inp-wrap cat-wrap">
                        <select name="search categories" id="categories" class="grid-80">
                                    <option value="p1" selected>الفئة العمرية</option>
                                    <option value="p2">1</option>
                                    <option value="p3">2 </option>
                                    <option value="p4">3</option>
                                    <option value="p5">4</option>
                                    <option value="p6">5</option>
                                </select>
                    </p>
                    <p class="inp-wrap submit-wrap">
                        <button class="grid-100 btn">

                                    <i class="fa fa-search"></i>
                                </button>
                    </p>
                </form>
            </section>
            <!-- //serach + filter -->

        </div>
    </div>
</div>
<!-- //sub header -->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content sportsmagazine-main-contentminus">



    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section PT-25">
        <div class="container">
            <div class="row">
                <!--// Widget Cetagories \\-->
                <div class="sportsmagazine-widget-heading">
                    <h2> الشهر الحالي " ديسمبر"</h2>
                </div>
                <div class="col-md-12">


                    <section id="calendar" class="collectonme">
                        <div id="day-labels">
                            <div class="label">سبت</div>
                            <div class="label">حد</div>
                            <div class="label">اتنين</div>
                            <div class="label">ثلاثاء</div>
                            <div class="label">الاربعاء</div>
                            <div class="label">الخميس</div>
                            <div class="label">الجمعه</div>

                        </div>
                        <div id="one" class="week">

                            <div class="day">
                                <span class="date">1</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>

                                    <video poster="/path/to/poster.jpg" id="player" playsinline controls>
                                                <source src="/path/to/video.mp4" type="video/mp4">
                                                <source src="/path/to/video.webm" type="video/webm">

                                                <!-- Captions are optional -->
                                                <track kind="captions" label="English captions" src="/path/to/captions.vtt"
                                                    srclang="en" default>
                                            </video>
                                </div>

                            </div>
                            <div class="day">
                                <span class="date">2</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="day noDate"></div>
                            <div class="day noDate"></div>
                            <div class="day noDate"></div>
                            <div class="day noDate"></div>
                            <div class="day noDate"></div>
                        </div>
                        <div id="two" class="week">
                            <div class="day">
                                <span class="date">3</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">4</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">5</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">6</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="day">
                                <span class="date">7</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">8</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">9</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div id="three" class="week">

                            <div class="day">
                                <span class="date">10</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">11</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">12</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">13</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">14</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="day">
                                <span class="date">15</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="day">
                                <span class="date">16</span>
                                <div class="surprise ">
                                    <div class="sportsmagazine-teams-match">
                                        <div class="sportsmagazine-first-team">
                                            <figure><img src="extra-images/team-match-img1.png" alt=""></figure>
                                            <div class="sportsmagazine-first-team-info">
                                                <h6><a href="fixture-detail.html">Yorkshire</a></h6>
                                                <span>Bepop Institute</span>
                                            </div>
                                        </div>
                                        <div class="sportsmagazine-match-view">
                                            <h5>Pool Match # 1</h5>
                                            <span>VS</span>
                                        </div>
                                        <div class="sportsmagazine-second-team">
                                            <figure><img src="extra-images/team-match-img2.png" alt=""></figure>
                                            <div class="sportsmagazine-second-team-info">
                                                <h6><a href="fixture-detail.html">Sharks Club</a></h6>
                                                <span>Marine College</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>



                    </section>
                    <div id="bottom" class="collectonme"></div>
                    <img src="images/Blake-Griffin-500.gif" alt="">


                </div>




            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->