<header id="sportsmagazine-header" class="sportsmagazine-header-one">

    <!--// MainSection \\-->
    <div class="sportsmagazine-main-header">
        <div class="container">
            <div class="row">
                <aside class="col-md-2">
                    <a href="index-2.html" class="sportsmagazine-logo"><img src="images/logo-1.png" alt=""></a>
                </aside>
                <div class="col-md-10">
                    <div class="sportsmagazine-right-section">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a href="index.html">الصفحة الرئيسية</a>

                                    </li>
                                    <li>
                                        <a href="player-grid.html">اللاعبين</a>

                                    </li>
                                    <li>
                                        <a href="#">المدربين</a>

                                    </li>
                                    <li>
                                        <a href="#">الحكام</a>

                                    </li>
                                    <li>
                                        <a href="History_of_the_Union.html">الإتحاد</a>
                                        <ul class="sportsmagazine-dropdown-menu">
                                            <li>
                                                <a href="History_of_the_Union.html"> تاريخ الإتحاد</a>

                                            </li>
                                            <li>
                                                <a href="Council_of_Presidents.html"> مجلس الإتحاد</a>
                                            </li>
                                            <li>
                                                <a href="Decisions.html">قرارات المجلس</a>
                                            </li>
                                            <li>
                                                <a href="#"> لجان الإتحاد</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Table_Matches">المباريات</a>
                                        <ul class="sportsmagazine-dropdown-menu">
                                            <li>
                                                <a href="Rules_and_Regulations.html"> القواعد والقوانین</a>

                                            </li>

                                            <li>
                                                <a href="Table_Matches.html">جدول المباریات</a>
                                            </li>
                                            <li>
                                                <a href="Match-results.html">نتائج المباریات </a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Table_Matches.html">الفرق الوطنية</a>
                                        <ul class="sportsmagazine-dropdown-menu">
                                            <li>
                                                <a href="Match-results.html"> نتائج المباریات</a>

                                            </li>
                                            <li>
                                                <a href="blog-grid.html"> آخر الأخبار </a>
                                            </li>
                                            <li>
                                                <a href="Table_Matches.html">الجداول الخاصة بالمباریات أو
                                                  البطولات</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog-grid.html"> الأخبار</a>

                                    </li>
                                    <li>
                                        <a href="#"> الأندية</a>

                                    </li>
                                    <li>
                                        <a href="#"> 3 x 3</a>
                                        <ul class="sportsmagazine-dropdown-menu">

                                            <li>
                                                <a href="#"> ترتيب الفرق العالمية في بطولة 3 * 3 </a>
                                            </li>
                                            <li>
                                                <a href="#">قوانين وقواعد اللعبة</a>
                                            </li>
                                            <li>
                                                <a href="#"> مسابقات</a>
                                            </li>


                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">اتصل بنا</a>

                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <a data-toggle="modal" data-target="#searchModal" href="#" class="sportsmagazine-search-btn sportsmagazine-colorhover">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// MainSection \\-->

</header>