.sportsmagazine-blog-grid section h2 {
    text-align: right;
}

.sportsmagazine-blog-grid section p {
    text-align: right;
    font-size: 16px;
    color: #525252;
}

.sportsmagazine-readmore-btn {
    color: rgb(68, 67, 67);
    font-size: 14px;
}