<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> قرارات المجلس </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li [ngStyle]="{'font-size': '14px', 'font-weight': '700'}"><a href="index-2.html">الاتحاد</a></li>
                    <li [ngStyle]="{'font-size': '14px', 'font-weight': '700'}"> قرارات المجلس </li>
                </ul>

            </div>

        </div>
    </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="sportsmagazine-blog sportsmagazine-blog-grid">
                        <ul class="row">
                            <li class="col-md-4 sportsmagazine-the-team" *ngFor="let decision of arraydecision">
                                <section>
                                    <h2><a href="decisions-detail.html">عنوان القرار </a></h2>
                                    <p>{{decision.TitleA}}</p>
                                    <a href="decisions-detail.html" class="sportsmagazine-readmore-btn">أقرا المزيد <i class="fa fa-arrow-circle-o-right"></i></a>

                                </section>
                                <div class="sportsmagazine-blog-grid-options">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> <a href="">{{decision.CreationDate | date:'yyyy-MM-dd' }}</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->