.sportsmagazine-subheader {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

form {
    margin-top: 0px;
}

.cat-wrap #categories option {
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

select,
input,
button {
    text-transform: none;
    font-size: large;
    font-weight: 400;
    height: 45px;
}

button {
    background-color: #f0eef0;
    border: 1px solid #dfdfdf;
    color: #666666;
    padding-right: 24px;
}

h2 {
    font-size: 25px;
}

td figure img {
    width: 40px;
}

td {
    font-size: 15px;
    color: #555;
    font-weight: 400;
}

th {
    font-size: 15px;
    color: #333;
}