<!--// Footer \\-->
<footer id="sportsmagazine-footer" class="sportsmagazine-footer-one">

    <!--// Footer Widget \\-->
    <div class="sportsmagazine-footer-widget">
        <div class="container">
            <div class="row">
                <!--// Widget Contact Info \\-->
                <aside class="col-md-6 widget widget_contact_info">
                    <a href="index.html" class="footer-logo">
                        <img src="images/logo-1.png" alt="">
                    </a>
                    <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام.
                    </p>
                    <ul class="sportsmagazine-social-network">
                        <li>
                            <a href="https://www.facebook.com/" class="sportsmagazine-colorhover fa fa-facebook-official"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/login" class="sportsmagazine-colorhover fa fa-twitter-square"></a>
                        </li>
                        <li>
                            <a href="https://pk.linkedin.com/" class="sportsmagazine-colorhover fa fa-linkedin-square"></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/" class="sportsmagazine-colorhover fa fa-google-plus-square"></a>
                        </li>
                    </ul>
                    <ul class="sportsmagazine-info-list">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>العنوان الرئيسي </span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>(02) 123 45 678 - 987 65 432</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span>
                                      <a href="mailto:name@email.com">info@example.com</a>
                                  </span>
                        </li>
                    </ul>
                </aside>
                <!--// Widget Contact Info \\-->
                <!--// Widget Twitter \\-->
                <aside class="col-md-6 widget widget_twitter">
                    <div class="footer-widget-title">
                        <h2>تويتر فيدس</h2>
                    </div>
                    <ul>
                        <li>
                            <i class="fa fa-twitter"></i>
                            <span>@كرة سلة</span>
                            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي
                            </p>
                            <time datetime="2008-02-14 20:00">
                                      <i class="fa fa-clock-o"></i> 2 منذ ساعات</time>
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i>
                            <span>@كرة السلة</span>
                            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي
                            </p>
                            <time datetime="2008-02-14 20:00">
                                      <i class="fa fa-clock-o"></i> 4 منذ ساعات</time>
                        </li>
                    </ul>
                </aside>
                <!--// Widget Twitter \\-->


            </div>
        </div>
        <a href="#" class="sportsmagazine-back-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!--// Footer Widget \\-->

    <!--// CopyRight \\-->
    <div class="sportsmagazine-copyright">
        <div class="container">
            <div class="row">
                <aside class="col-md-6 sportsmagazine-copyright-left">
                    <p>© 2018 جميع الحقوق محفوظة -
                        <a href="index.html">YAckeensolution</a>
                    </p>
                </aside>
                <aside class="col-md-6 sportsmagazine-copyright-right">
                    <ul class="sportsmagazine-copyright-link">
                        <li>
                            <a href="404.html" class="sportsmagazine-colorhover">أحكام وشروط</a>
                        </li>
                        <li>
                            <a href="404.html" class="sportsmagazine-colorhover">سياسة الخصوصية</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <!--// CopyRight \\-->

</footer>
<!--// Footer \\-->