.sportsmagazine-footer-widget {
    text-align: right;
    font-size: 13px;
}

.sportsmagazine-copyright {
    font-size: 16px;
}

.sportsmagazine-copyright-left {
    text-align: right;
}

.sportsmagazine-copyright-right {
    text-align: left;
}