<!--// Footer \\-->
<footer id="sportsmagazine-footer" class="sportsmagazine-footer-one">

    <!--// Footer Widget \\-->
    <div class="sportsmagazine-footer-widget">
        <div class="container">
            <div class="row">
                <!--// Widget Contact Info \\-->
                <aside class="col-md-6 widget widget_contact_info">
                    <a href="index.html" class="footer-logo">
                        <img src="../../assets/images/logo-1.png" alt="">
                    </a>
                    <ul class="sportsmagazine-social-network">
                        <li>
                            <a href="{{arraycontact.FacebookURL}}" class="sportsmagazine-colorhover fa fa-facebook-official"></a>
                        </li>
                        <li>
                            <a href="{{arraycontact.TwitterURL}}" class="sportsmagazine-colorhover fa fa-twitter-square"></a>
                        </li>
                        <li>
                            <a href="{{arraycontact.InstagramURL}}" class="sportsmagazine-colorhover fa fa-instagram"></a>
                        </li>
                        <li>
                            <a href="{{arraycontact.YoutubeURL}}" class="sportsmagazine-colorhover fa fa-youtube-square"></a>
                        </li>
                    </ul>
                    <ul class="sportsmagazine-info-list">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>{{arraycontact.Address}} </span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>{{arraycontact.PhoneNumber}}</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span>
                                <a href="mailto:{{arraycontact.Email}}">{{arraycontact.Email}}</a>
                            </span>
                        </li>
                    </ul>
                </aside>
                <!--// Widget Contact Info \\-->
                <!--// Widget Twitter \\-->
                <aside class="col-md-6 widget widget_twitter">
                    <div>
                        <a href="https://www.google.com/maps/place/Cairo+International+Stadium/@30.0690809,31.310143,17z/data=!3m1!4b1!4m5!3m4!1s0x14583e4cfbd1592d:0xc90510d48ee6cca4!8m2!3d30.0690763!4d31.3123317" target="_blank"><img class="img-fluid mx-auto d-block" src="../../assets/images/loc_map.jpg"></a>
                    </div>
                </aside>
                <!--// Widget Twitter \\-->


            </div>
        </div>
        <a href="#" class="sportsmagazine-back-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <!--// Footer Widget \\-->

    <!--// CopyRight \\-->
    <div class="sportsmagazine-copyright">
        <div class="container">
            <div class="row">
                <aside class="col-md-6 sportsmagazine-copyright-left">
                    <p>© 2018 جميع الحقوق محفوظة -
                        <a href="index.html">YAckeensolution</a>
                    </p>
                </aside>
                <aside class="col-md-6 sportsmagazine-copyright-right">
                    <ul class="sportsmagazine-copyright-link">
                        <li>
                            <a href="404.html" class="sportsmagazine-colorhover">أحكام وشروط</a>
                        </li>
                        <li>
                            <a href="404.html" class="sportsmagazine-colorhover">سياسة الخصوصية</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <!--// CopyRight \\-->

</footer>
<!--// Footer \\-->