<!--// SubHeader \\-->
<div class="sportsmagazine-subheader">
    <span class="subheader-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> تاريخ الاتحاد </h1>
            </div>
            <div class="col-md-12">
                <ul class="sportsmagazine-breadcrumb">
                    <li [ngStyle]="{'font-size': '14px', 'font-weight': '700'}"><a href="index-2.html">الاتحاد</a></li>
                    <li [ngStyle]="{'font-size': '14px', 'font-weight': '700'}"> تاريخ الاتحاد </li>
                </ul>

            </div>

        </div>
    </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

    <!--// Main Section \\-->
    <div class="sportsmagazine-main-section sportsmagazine-blogmodren-full">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sportsmagazine-widget-heading">
                        <h2> التأسيس</h2>
                    </div>
                    <div class="sportsmagazine-rich-editor">

                        <blockquote [innerHTML]="arrayhistoryunion.HistoryUnion[0].EstablishedYearA">
                            <span></span>
                        </blockquote>

                    </div>

                </div>


                <div class="col-md-6">
                    <div class="sportsmagazine-widget-heading">
                        <h2> الإنجازات</h2>
                    </div>
                    <div class="sportsmagazine-rich-editor">
                        <blockquote [innerHTML]="arrayhistoryunion.HistoryUnion[0].AchievementA ">
                            <span></span>
                        </blockquote>
                    </div>

                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="sportsmagazine-fancy-title-two">
                        <h2>رموز <span></span></h2>
                    </div>
                </div>
                <div class="sportsmagazine-player sportsmagazine-player-grid">
                    <ul class="row">
                        <li class="col-md-3 images" *ngFor="let person of arrayhistoryunion.PersonUnion">
                            <figure>
                                <a href="shop-detail.html"><img src="http://yakensolution.cloudapp.net/EBBFED/Content/Images/{{person.ImageUrl}}" alt=""><i class="fa fa-link"></i></a><span></span></figure>
                            <div class="sportsmagazine-player-grid-text">
                                <h3><a href="player-detail.html">{{person.NameA}}</a></h3>
                                <p [innerHtml]="person.BriefA"></p>

                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->