<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- <app-matches></app-matches> -->

<!-- <app-council-president></app-council-president> -->
<!-- <app-decision></app-decision> -->
<!-- <app-players></app-players> -->
<!-- <app-coahes></app-coahes> -->
<!-- <app-rulers></app-rulers> -->
<!-- <app-clubs></app-clubs> -->
<!-- <app-news></app-news> -->
<!-- <app-gallery></app-gallery> -->
<!-- <app-player-details></app-player-details> -->
<router-outlet></router-outlet>
<app-fotter></app-fotter>